<!DOCTYPE html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Simple co-browse with chat example</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>

    <h1>Simple co-browse with chat example</h1>
    <p class="test-relative-url-css">This is to test CSS stylesheet inclusion using relative URL. If it works the text should be green and big</p>
    <form>
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" size="20" value="Joe" />

        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" size="20" value="Customer" />

        <label for="agentEmail">Agent Email</label>
        <input type="text" id="agentEmail" size="20" value="alex.agent@example.com" />

        <button type="button" id="start-chat" onclick="genesysWebchat.startEmbeddedChat()">Start Embedded Chat</button>

    </form>
    <div id="chatContainer" style="height:600px"></div>

    <!-- Replace mypurecloud.com with the hostname for your PureCloud region -->
    <script id="purecloud-webchat-js" type="text/javascript" src="https://apps.mypurecloud.com/webchat/jsapi-v1.js" region="us-east-1" org-guid="cc329c9f-a78c-4788-8808-6fdf739234f7" deployment-key="da0ba755-efcc-4e93-958a-fea3dea65fb2"></script>

    <script type="text/javascript">
    let genesysWebchat = (function() {
        function createChatConfig(){
            let firstName = document.getElementById('firstName').value;
            let lastName = document.getElementById('lastName').value;
            //let agentEmail = document.getElementById('agentEmail').value;

            // For additional web chat config options, see web chat documentation. This example excludes some of the optional values.
            return {
                // Web chat application URL
                "webchatAppUrl": "https://apps.mypurecloud.com/webchat",

                // Web chat service URL
                "webchatServiceUrl": "https://realtime.mypurecloud.com:443",

                // Numeric organization ID
                "orgId": 12570,

                // Organization name
                "orgName": "pcps",

                "queueName": 'Steeve Test Queue 1',

                // Log level
                "logLevel": "DEBUG",

                // Locale code
                "locale": "en",
                // Logo used at the top of the chat window
                "companyLogo": {
                    "width": 600,
                    "height": 149,
                    "url": "https://dhqbrvplips7x.cloudfront.net/webchat/1.0.23/company-logo-large-cea5ee47.png"
                },

                // Logo used within the chat window
                "companyLogoSmall": {
                    "width": 149,
                    "height": 149,
                    "url": "https://dhqbrvplips7x.cloudfront.net/webchat/1.0.23/company-logo-small-9c9fe09b.png"
                },

                // Image used for agent
                "agentAvatar": {
                    "width": 462,
                    "height": 462,
                    "url": "https://dhqbrvplips7x.cloudfront.net/webchat/1.0.23/agent-e202505f.png"
                },

                // Text displayed when the chat window opens
                "welcomeMessage": "Thanks for chatting.",

                // CSS class applied to the chat window
                "cssClass": "webchat-frame",

                // Custom style applied to the chat window
                "css": {
                    "width": "100%",
                    "height": "100%"
                },

                // Deployment key for your cobrowse deployment from PureCloud admin UI
                "cobrowseConfig": {
                    "deploymentKey": "J2KTylSDrp5iAmtFIc1SLsoNxqoE728P",
                }
            };
        }
        return {
            startEmbeddedChat: function() {
                let chatConfig = createChatConfig();
                ININ.webchat.create(chatConfig, function(err, webchat) {
                    if (err) {
                        console.error('Unable to share page', (err.stack || err));
                        return;
                    }

                    //Render to frame
                    webchat.renderFrame({
                        containerEl: 'chatContainer'
                    });

                });
            }
        }
    })();
    </script>
</body>
</html>